@using OnlineShop.Models;
@model IEnumerable<SpecialTag>

@{
    ViewData["Title"] = "";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Special Tag List</h2>
    </div>

    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp;<i class="fas fa-plus"></i>&nbsp; New Special Tag</a>
    </div>

</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>@Html.DisplayNameFor(c => c.TagName)</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TagName</td>
                <td>
                    <partial name="_ButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>


@section scripts{

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var message = '@TempData["message"]';
            var typOperation =  '@TempData["typOperation"]';

            if (message != '' && typOperation != '') {
                switch (typOperation) {
                    case 'save':
                        alertify.success(message);
                        break;
                    case 'update':
                        alertify.success(message);
                        break;
                    case 'delete':
                        alertify.error(message);
                        break;
                }

            }
        });
    </script>
}


